@media only screen and (min-width: 800px) {
	.containerGrid2 {
		grid-template-rows: 40px 400px 100px;
		row-gap: 30px;
	}
	.colss {
		display: grid;
		grid-template-columns: 47.5% 5% 45%;
		column-gap: 1.25%;
	}
	.subContainerGrid2 {
		grid-template-rows: 80px 80px 100px 80px;
		row-gap: 10px;
	}
	.cols2 {
		display: grid;
		grid-template-columns: 15% auto;
		column-gap: 10%;
	}
}
@media only screen and (max-width: 800px) {
	.containerGrid2 {
		grid-template-rows: auto 880px auto;
		margin-bottom: 15px;
	}
	.subContainerGrid2 {
		grid-template-rows: 60px 200px 210px 200px;
		row-gap: 50px;
	}
	.colse {
		display: grid;
		grid-template-columns: 100%;
	}
	.colss {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-areas:
			"p1 p1 p1 p1"
			". vis vis ."
			"p2 p2 p2 p2";
		column-span: all;
	}
	.p1 {
		height: 70px;
		grid-area: p1;
	}
	.vis {
		height: 50px;
		grid-area: vis;
	}
	.p2 {
		height: 150px;
		grid-area: p2;
	}
}
.containerGrid2 {
	display: grid;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.subContainerGrid2 {
	display: grid;
}
#reCAPTCHA {
	width: 100%;
	background-color: wheat;
}
